body, html {
  height: 100%;
  font-family: "Roboto";
  font-size: 24px;

  background-color: #000;
}

button {
  border: 0;
  color: #fcfcfc;
  outline: 0;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}
button:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.tag a {
  bottom: 1px;
  color: #fcfcfc;
  font-size: 18px;
  position: absolute;
  right: 5px;
  text-decoration: none;
}
.tag a:visited {
  color: #fcfcfc;
  text-decoration: none;
}

.center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator {
    -webkit-box-shadow: 5px 5px 1px #555555;
            box-shadow: 5px 5px 1px #555555;
  background-color: #468fee;
  border-radius: 5px;
  height: 340px;
  width: 340px;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}
.top-bar button {
  -webkit-box-shadow: 5px 5px 1px #555555;
          box-shadow: 5px 5px 1px #555555;
  background: #fff;
  border-radius: 10px;
  color: #000;
  -webkit-box-flex: .9;
        -ms-flex: .9;
          flex: .9;
  font-size: 22px;

  height: 50px;
  line-height: 48px;
  margin: 10px;
}
.top-bar div {
  background: #000;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 4px 5px #1272f0;
          box-shadow: inset 0 4px 5px #1272f0;
  color: #fcfcfc;
  -webkit-box-flex: 5;
        -ms-flex: 5;
          flex: 5;
  font-size: 28px;
  height: 25px;
  margin: 10px;
  padding: 12px;
  text-align: right;
}

.btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 260px;
}
.btnBox button {
  -webkit-box-shadow: 5px 5px 1px #142c41;
          box-shadow: 5px 5px 1px #142c41;

  background: #000;
  border-radius: 5px;

  width: 65px;
  height: 50px;
  line-height: 48px;

  margin: 7px;

  font-size: 22px;
}
.btnBox button.op {
  -webkit-box-shadow: 5px 5px 1px #555555;
          box-shadow: 5px 5px 1px #555555;
  background: #ffffff;
  color: #000;
  line-height: 45px;
}
.btnBox button.equals {
  -webkit-box-shadow: 5px 5px 1px #048c68;
          box-shadow: 5px 5px 1px #048c68;
  background: #06d6a0;
  color: #000;
}
