/**************************************
Microwave Body
*************************************/

.container {
	
  width: 800px;
	height: 400px;
	border-radius: 10px;
  background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 1%, rgba(254, 254, 254, 1) 5%, rgba(247, 247, 247, 1) 12%, rgba(235, 235, 235, 1) 13%, rgba(242, 242, 242, 1) 60%, rgba(186, 186, 186, 1) 90%, rgba(112, 112, 112, 1) 100%);
  border-bottom: 2px solid #252525;
  box-shadow: 8px 8px 12px #111;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;


}

.door {
    
  float: left;
  display: inline-block;
  position: relative;
  width: 500px;
  height: 270px;
  margin: 80px 0 0 50px;
  background: #343434;
  border-radius: 10px;

}

.object {
  height: 100px;
  width: 100px;
  display: none;
  background: red;
  border-radius: 50%;
  margin: 85px auto;

}

.glass {

  height: 230px;
  width: 380px;
  margin: 17px auto 0;
  border-radius: 10px;
  border-bottom: 6px #666 solid;
  box-shadow: inset 0 0 15px #000, 2px 2px 2px #FFF;
  background: linear-gradient(170deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.05) 51%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cooking {
  background: linear-gradient(45deg, rgba(251,255,209,1) 0%, rgba(251,255,209,1) 0%, rgba(255,255,0,0.55) 48%, rgba(255,255,0,0.05) 100%);

}
/**************************************
Panel Section
*************************************/

.panel {
  width: 200px;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0) 8%);
  float: right;
  border-left: 2px solid #000;
}




.timer {
    
  background: linear-gradient(rgba(56, 56, 56, 0.65) 0%, rgba(56, 56, 56, 0.65) 48%, rgba(56, 56, 56, 0.33) 50%, rgba(54, 54, 54, 0) 52%, rgba(0, 0, 0, 0) 100%) #232323;
  height: 50px;
  line-height: 50px;
  margin-top: 80px;
  box-shadow: inset 0 0 5px #000;
  color: #0cff0f;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 10px #0cff0f;
  width: 100%;

}

.buttons {

  width: 80%;
  height: 180px;
  margin: 10px auto;
  background-color: #000;
  border-bottom: 6px #666 solid;
  border-right: 5px #333 solid;
  border-left: 4px #222 solid;
  border-top: 4px #111 solid;
  border-radius: 8px;
  text-align: center;
  
}

button {

  display: inline;
  height: 20px;
  width: 30px;
  line-height: 10px;
  font-size: 15px;
  font-weight: bold;
  background: #000;
  border-radius: 5px;
  border: 2px transparent solid;
  text-align: center;
  color: #22bb22;
  margin: 10px;
  cursor: pointer;

}


 button:active,
 button:focus,
 button.active {
  background-image: none;
  outline: 0;
 
}

.buttons button:hover {
  border: 2px #66ff66 solid;
  color: #66ff66;

}

.control-buttons {
  padding: 0;
  margin: -50px 0 0 10px;
  width: 80%;


}

.control-buttons button {
  font-size: 12px;
  background: transparent;
 
}

.control-buttons button:hover {
  color: #66ff66;
  text-shadow: 0px 0px 3px #22bb22;
}

.cooking {
  background: rgba(255, 255, 36, 0.7);
  transition: all 0.5s ease-in; 
}


.eject {
  width: 80%;
  height: 50px;
  background: transparent;
  box-shadow: inset 0 0 15px #000, 2px 2px 2px #FFF;
  margin: 10px 0 0 22px;
  border-radius: 10px;
  border: 2px solid #000;
}





	


 